{% extends "jobportal/base.html" %}
{% load static %}
{% block content %}

        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">All Job Categories</h1>
                <div class="row g-4">
                    {% for lists in categories %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="{% url 'category_jobs' lists.pk %}" class="cat-item rounded p-4 h-100 text-decoration-none">
                            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                            <h6 class="mb-3">{{lists.name}}</h6>
                            <p class="mb-0">{{lists.total_jobs}} Jobs</p>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Category End -->
{% endblock %}