{% load static %}
<!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="{% static 'img/about-1.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="{% static 'img/about-3.jpg' %}" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="{% static 'img/about-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4"> Our Job Portal connects skilled professionals with trusted companies through a fast, secure, and user-friendly platform. 
                        We make the hiring process easier for employers and help job seekers discover opportunities that match their skills and career goals.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Easy and fast job application process</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Category-wise job listings for better search</p>
                        <p><i class="fa fa-check text-primary me-3"></i> Trusted companies and verified opportunities</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->