{% extends "jobportal/base.html" %}
{% load static %}
{% block content %}
        <!-- Jobs Start -->
            <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">All Available Jobs</h1>

     
                
                <!-- Jobs Listing -->
               
                <div class="row g-4">
                    {% for job in posts %}
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="job-item p-4 h-100 border rounded">
                            <div class="row g-4">
                                <div class="col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px; object-fit: cover;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-2">{{job.title}}</h5>
                                        <p class="text-muted small mb-2">{{job.company.name}}</p>
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{job.company.location}}</span>
                                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.job_type}}</span>
                                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3 gap-2">
                                        <a href="job-detail.html" class="btn btn-primary">View Details</a>
                                    </div>
                                    <small class="text-muted"><i class="far fa-calendar-alt text-primary me-2"></i>Posted: May 01, 2026</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Jobs End -->

{% endblock %}